.Tab1 {
    display: flex;
    flex-direction: column;

    ion-list {
        padding: 0px;
    }

    ion-item-divider {
        min-height: 40px;
    }

    ion-item-divider ion-label {
        color: #fff !important;
        opacity: .9;
        font-weight: 400;
    }

    ion-item ion-label {
        font-size: 13px !important;

    }

    ion-item ion-range {
        padding: 4px 0px !important;

    }

    .layout-joystick {
        display: grid;
        place-items: center;
        height: 70vh;
    }

}