.BluetoothList {
  padding: 8px;
  box-sizing: border-box;

  ion-list {
    padding-bottom: 0px;
  }

  ion-item.item {
    border-bottom: 1px solid #323232;
  }


  .no-devices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }

  .state-layout {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: showUp .5s ease;
  }

  @keyframes showUp {
    0% {
      bottom: -100%
    }

    100% {
      bottom: 0;
    }
  }
}